@import url(../styles/variables.css);

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 24px;
}

.card {
  width: 325px;
  height: 440px;
  font-size: 16px;
  line-height: 140%;
  white-space: nowrap;
}

.card__img {
  width: 100%;
  margin: 0 0 32px;
}

.card__title {
  margin: 0 0 8px;
  font-weight: 700;
}

.card__description {
  margin: 0 0 12px;
  font-weight: 400;
}

.card__price {
  font-weight: 700;
}

@media (max-width: 1340px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 392px;
    height: 505px;
  }

  .card__img {
    width: 350px;
    height: 387px;
  }
}

@media (max-width: 576px) {
  .cards {
    row-gap: 48px;
  }
  .card {
    width: 280px;
    height: 395px;
  }

  .card--last {
    white-space: wrap;
  }

  .card__img {
    width: 250px;
    height: 277px;
  }
}
