@import url(../styles/variables.css);

.how-to-buy {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  padding: 0 0 120px;
}

.how-to-buy__title {
  flex-basis: 50%;
  margin: 0 0 64px;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.how-to-buy__content {
  flex-basis: 50%;
}

.how-to-buy__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  margin: 0 0 40px;
  font-size: 16px;
  font-weight: 700;
}

.how-to-buy__description {
  max-width: 495px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 120px;
}

@media (max-width: 1020px) {
  .how-to-buy__title {
    font-size: 40px;
  }

  .how-to-buy__description {
    max-width: 288px;
  }
}

@media (max-width: 576px) {
  .how-to-buy {
    display: block;
    padding: 0 20px;
  }

  .how-to-buy__title {
    font-size: 32px;
    margin: 0 0 32px;
  }

  .how-to-buy__description {
    max-width: 280px;
  }
}
